ol{
    border-bottom:1px solid #CCC;
}
a{
    text-decoration: none;
}
table,th,tbody,td{
    border: 1px solid black;
}
.menu{
    display: inline;
    color: black;
    font-weight: bold;
    list-style-type: none;
}
#contenido, #descripcion{
    margin: 1.5% 1.5% 1.5% 1.5%;
}
#equipo{
    color:black;
}
.italica {
	font-style: italic;
}